[submodule "components/BNO055"]
	path = components/BNO055
	url = https://github.com/ShellAddicted/BNO055ESP32.git

[submodule "components/c-capnproto"]
	path = components/c-capnproto/c-capnproto/gtest
	url = https://github.com/google/googletest.git
